@media (min-width: 912px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .hero {
    font-size: 18px;
  }
}

.form-container {
  background-color: rgba(0, 0, 0, 0.938);
  padding: 2rem 2rem;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: teal;
}
form input {
  width: 23rem;
  height: 2rem;
  margin: 0.5rem 1rem;
}
form select {
  width: 10rem;
  height: 2rem;
  margin-top: 0.5rem;
}
form button {
  padding: 0.5rem 0.5rem;
  font-size: 16px;
  font-weight: 700;
  margin-top: 2rem;
}
form button:hover {
  background: #ffffffda;
}

.button {
  height: 3rem;
  width: 20rem;
  margin-top: -2rem;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  background-color: rgba(243, 159, 2, 0.901);
  color: black;
}
.navbar-nav .nav-link:hover {
  color: #ff5722;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 0.3s, background-color 0.3s;
}
.inspire {
  background-color: rgba(250, 235, 215, 0.836);
  color: black;
}
