@media (min-width: 912px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .hero {
    font-size: 18px;
  }
}

.form-container {
  background-color: rgba(0, 0, 0, 0.938);
  padding: 2rem 2rem;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: teal;
}
form input {
  width: 23rem;
  height: 2rem;
  margin: 0.5rem 1rem;
}
form select {
  width: 10rem;
  height: 2rem;
  margin-top: 0.5rem;
}
form button {
  padding: 0.5rem 0.5rem;
  font-size: 16px;
  font-weight: 700;
  margin-top: 2rem;
}
form button:hover {
  background: #ffffffda;
}

.subscribe {
  text-align: center;
}
.form {
  width: 70%;

  margin: 9rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.form-start {
  width: 50%;
  padding-right: 4rem;
}
